---
version: 2
interactions:
    - id: 0
      request:
        host: api.3commas.io
        url: https://api.3commas.io/public/api/ver1/bots
        method: GET
      response:
        body: '[{"id":16403596,"account_id":33256512,"is_enabled":true,"max_safety_orders":3,"active_safety_orders_count":3,"pairs":["USDT_ETH"],"strategy_list":[{"options":{},"strategy":"nonstop"}],"close_strategy_list":[],"safety_strategy_list":[],"max_active_deals":1,"active_deals_count":1,"deletable?":false,"created_at":"2025-07-23T02:51:11.184Z","updated_at":"2025-07-23T02:51:11.936Z","trailing_enabled":false,"tsl_enabled":false,"deal_start_delay_seconds":null,"stop_loss_timeout_enabled":false,"stop_loss_timeout_in_seconds":0,"disable_after_deals_count":null,"deals_counter":null,"allowed_deals_on_same_pair":null,"easy_form_supported":false,"close_deals_timeout":null,"url_secret":"7d2312bacb","take_profit_steps":[],"name":"ETH/USDT Classic trading","take_profit":"1.0","min_profit_percentage":"0.0","base_order_volume":"20.0","safety_order_volume":"15.0","safety_order_step_percentage":"1.0","safety_order_calculation_mode":"base","take_profit_type":"total","min_profit_type":null,"type":"Bot::SingleBot","martingale_volume_coefficient":"1.7","martingale_step_coefficient":"4.0","stop_loss_percentage":"0.0","cooldown":"0","btc_price_limit":"0.0","strategy":"long","min_volume_btc_24h":"0.0","profit_currency":"quote_currency","min_price":null,"max_price":null,"stop_loss_type":"stop_loss","safety_order_volume_type":"quote_currency","base_order_volume_type":"quote_currency","account_name":"Demo Account 2080398","trailing_deviation":"0.2","finished_deals_profit_usd":"2.58634051","finished_deals_count":"7","leverage_type":"not_specified","leverage_custom_value":null,"start_order_type":"limit","active_deals_usd_profit":"-0.904021755","reinvesting_percentage":"0.0","risk_reduction_percentage":"0.0","reinvested_volume_usd":null,"min_price_percentage":null,"max_price_percentage":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"415098ce3337838e59451ce0d3abee44"
        status: 200 OK
        code: 200
        duration: 261.494083ms
    - id: 1
      request:
        host: api.3commas.io
        form:
            bot_id:
                - "16403596"
        url: https://api.3commas.io/public/api/ver1/deals?bot_id=16403596
        method: GET
      response:
        body: '[{"from_currency_id":0,"to_currency_id":0,"id":2364268853,"type":"Deal","bot_id":16403596,"max_safety_orders":3,"deal_has_error":false,"account_id":33256512,"active_safety_orders_count":3,"created_at":"2025-07-28T02:32:59.628Z","updated_at":"2025-07-28T11:35:42.049Z","closed_at":null,"finished?":false,"current_active_safety_orders_count":2,"current_active_safety_orders":2,"completed_safety_orders_count":1,"completed_manual_safety_orders_count":0,"cancellable?":true,"panic_sellable?":true,"trailing_enabled":false,"tsl_enabled":false,"stop_loss_timeout_enabled":false,"stop_loss_timeout_in_seconds":0,"active_manual_safety_orders":0,"pair":"USDT_ETH","status":"bought","localized_status":"Active","take_profit":"1.0","take_profit_steps":[],"base_order_volume":"20.0","safety_order_volume":"15.0","safety_order_step_percentage":"1.0","safety_order_calculation_mode":"base","leverage_type":"not_specified","leverage_custom_value":null,"bought_amount":"0.0091","bought_volume":"35.351805489","bought_average_price":"3884.81379","base_order_average_price":"3899.87598","sold_amount":"0.0","sold_volume":"0.0","sold_average_price":"0","take_profit_type":"total","final_profit":"-0.2539315","martingale_coefficient":"1.0","martingale_volume_coefficient":"1.7","martingale_step_coefficient":"4.0","stop_loss_percentage":"0.0","sl_to_breakeven_enabled":false,"sl_to_breakeven_data":null,"error_message":null,"profit_currency":"quote_currency","stop_loss_type":"stop_loss","safety_order_volume_type":"quote_currency","base_order_volume_type":"quote_currency","from_currency":"USDT","to_currency":"ETH","final_profit_percentage":"0","usd_final_profit":"-0.25","actual_profit":"-0.83265819","actual_usd_profit":"-0.83265819","failed_message":null,"reserved_base_coin":"35.351805489","reserved_second_coin":"0.0091","trailing_deviation":"0.2","trailing_max_price":null,"tsl_max_price":null,"strategy":"long","last_known_position_info":null,"min_profit_percentage":"0.0","min_profit_type":null,"close_strategy_list":[],"safety_strategy_list":[],"note":null,"add_fundable":true,"smart_trade_convertable":true,"bot_name":"ETH/USDT Classic trading","account_name":"Demo Account 2080398","market_type":"spot","current_price":"3797.11","take_profit_price":"3927.59","stop_loss_price":null,"actual_profit_percentage":"-2.26","reserved_quote_funds":"0.0","reserved_base_funds":"0.0","orderbook_price_currency":"USDT","crypto_widget":{"progressAccuracy":2,"TTPАctivated":false,"buyPrice":"3884.81379","currentPrice":"3797.11","inverted":false,"stopLosses":null,"LP":null,"buySteps":[{"price":"3704.88","filled":"0.0"}],"marks":[{"type":"tp","label":"TP","price":"3927.59","position":"down"}]}},{"from_currency_id":0,"to_currency_id":0,"id":2364172038,"type":"Deal","bot_id":16403596,"max_safety_orders":3,"deal_has_error":false,"account_id":33256512,"active_safety_orders_count":3,"created_at":"2025-07-27T18:25:48.513Z","updated_at":"2025-07-28T02:32:59.289Z","closed_at":"2025-07-28T02:32:59.257Z","finished?":true,"current_active_safety_orders_count":0,"current_active_safety_orders":0,"completed_safety_orders_count":1,"completed_manual_safety_orders_count":0,"cancellable?":fals[...]
