---
version: 2
interactions:
    - id: 0
      request:
        host: api.3commas.io
        url: https://api.3commas.io/public/api/ver1/bots
        method: GET
      response:
        body: '[{"id":16511317,"account_id":33256512,"is_enabled":true,"max_safety_orders":9,"active_safety_orders_count":0,"pairs":["USDT_DOGE"],"strategy_list":[{"options":{},"strategy":"nonstop"}],"close_strategy_list":[],"safety_strategy_list":[{"options":{},"strategy":"tv_custom_signal"}],"max_active_deals":1,"active_deals_count":1,"deletable?":false,"created_at":"2025-09-26T10:34:36.281Z","updated_at":"2025-09-26T17:26:26.101Z","trailing_enabled":false,"tsl_enabled":false,"deal_start_delay_seconds":null,"stop_loss_timeout_enabled":false,"stop_loss_timeout_in_seconds":0,"disable_after_deals_count":null,"deals_counter":null,"allowed_deals_on_same_pair":null,"easy_form_supported":false,"close_deals_timeout":null,"url_secret":"0ec8fe215b","take_profit_steps":[],"custom_safety_steps":[],"name":"Bot16511317 has signal","take_profit":"2.0","min_profit_percentage":"0.0","base_order_volume":"25.0","safety_order_volume":"25.0","safety_order_step_percentage":"0.21","safety_order_calculation_mode":"base","take_profit_type":"total","min_profit_type":null,"type":"Bot::SingleBot","martingale_volume_coefficient":"1.0","martingale_step_coefficient":"1.0","stop_loss_percentage":"5.0","cooldown":"0","btc_price_limit":"0.0","strategy":"long","min_volume_btc_24h":"0.0","profit_currency":"quote_currency","min_price":null,"max_price":null,"stop_loss_type":"stop_loss","safety_order_volume_type":"quote_currency","base_order_volume_type":"quote_currency","account_name":"Demo Account 2080398","trailing_deviation":"0.2","finished_deals_profit_usd":"7.05033172","finished_deals_count":"2","leverage_type":"not_specified","leverage_custom_value":null,"start_order_type":"market","active_deals_usd_profit":"-2.47203902","reinvesting_percentage":"0.0","risk_reduction_percentage":"100.0","reinvested_volume_usd":null,"min_price_percentage":null,"max_price_percentage":null},{"id":16511296,"account_id":33256512,"is_enabled":false,"max_safety_orders":9,"active_safety_orders_count":0,"pairs":["USDT_ETH"],"strategy_list":[{"options":{},"strategy":"nonstop"}],"close_strategy_list":[],"safety_strategy_list":[{"options":{},"strategy":"tv_custom_signal"}],"max_active_deals":1,"active_deals_count":0,"deletable?":true,"created_at":"2025-09-26T10:00:46.274Z","updated_at":"2025-09-26T17:24:29.265Z","trailing_enabled":false,"tsl_enabled":false,"deal_start_delay_seconds":n[...]
    - id: 1
      request:
        host: api.3commas.io
        form:
            bot_id:
                - "16511317"
        url: https://api.3commas.io/public/api/ver1/deals?bot_id=16511317
        method: GET
      response:
        body: '[{"from_currency_id":0,"to_currency_id":0,"id":2376446537,"type":"Deal","bot_id":16511317,"max_safety_orders":9,"deal_has_error":false,"account_id":33256512,"active_safety_orders_count":0,"created_at":"2025-09-26T17:26:26.529Z","updated_at":"2025-09-28T08:27:03.877Z","closed_at":null,"finished?":false,"current_active_safety_orders_count":0,"current_active_safety_orders":0,"completed_safety_orders_count":9,"completed_manual_safety_orders_count":0,"cancellable?":true,"panic_sellable?":true,"trailing_enabled":false,"tsl_enabled":false,"stop_loss_timeout_enabled":false,"stop_loss_timeout_in_seconds":0,"active_manual_safety_orders":0,"pair":"USDT_DOGE","status":"bought","localized_status":"Active","take_profit":"2.0","take_profit_steps":[],"base_order_volume":"25.0","safety_order_volume":"25.0","safety_order_step_percentage":"0.21","safety_order_calculation_mode":"base","leverage_type":"not_specified","leverage_custom_value":null,"bought_amount":"1094.0","bought_volume":"251.20651556","bought_average_price":"0.229622043473491773308957952468007313","base_order_average_price":"0.23171148","sold_amount":"0.0","sold_volume":"0.0","sold_average_price":"0","take_profit_type":"total","final_profit":"-2.82176894","martingale_coefficient":"1.0","martingale_volume_coefficient":"1.0","martingale_step_coefficient":"1.0","stop_loss_percentage":"5.0","sl_to_breakeven_enabled":false,"sl_to_breakeven_data":null,"error_message":null,"profit_currency":"quote_currency","stop_loss_type":"stop_loss","safety_order_volume_type":"quote_currency","base_order_volume_type":"quote_currency","from_currency":"USDT","to_currency":"DOGE","final_profit_percentage":"0","usd_final_profit":"-2.82","actual_profit":"-2.47203902","actual_usd_profit":"-2.47203902","failed_message":null,"reserved_base_coin":"251.20651556","reserved_second_coin":"1094.0","trailing_deviation":"0.2","trailing_max_price":null,"tsl_max_price":null,"strategy":"long","last_known_position_info":null,"min_profit_percentage":"0.0","min_profit_type":null,"close_strategy_list":[],"safety_strategy_list":[{"options":{},"strategy":"tv_custom_signal"}],"custom_safety_steps":[],"note":null,"add_fundable":true,"smart_trade_convertable":true,"bot_name":"Bot16511317 has signal","account_name":"Demo Account 2080398","market_type":"spot","current_price":"0.22759","take_profit_price":"0.23445","stop_loss_price":"0.220125906","actual_profit_percentage":"-0.88","reserved_quote_funds":"0.0","reserved_base_funds":"0.0","orderbook_price_currency":"USDT","crypto_widget":{"progressAccuracy":2,"TTPАctivated":false,"buyPrice":"0.229622043473491773308957952468007313","currentPrice":"0.22759","inverted":false,"stopLosses":[["0.220125906",false]],"LP":null,"buySteps":[],"marks":[{"type":"tp","label":"TP","price":"0.23445","position":"down"},{"type":"sl","label":"SL","price":"0.220125906","position":"down"}]}},{"from_currency_id":0,"to_currency_id":0,"id":2376405906,"type":"Deal","bot_id":16511317,"max_safety_orders":9,"deal_has_error":false,"account_id":33256512,"active_safety_orders_count":0,"created_at":"2025-09-26T12:37:04.248Z","updated_at":"2025-09-26T17:26:26.024Z","closed_at":"2025-09-26T17:26:26.011Z","finished?":true,"current_active_safety_orders_count":0,"current_active_safety_orders":0,"completed_safety_orders_co[...]
[...]
