---
version: 2
interactions:
    - id: 0
      request:
        host: api.3commas.io
        form:
            bot_id:
                - "16506279"
        url: https://api.3commas.io/public/api/ver1/deals?bot_id=16506279
        method: GET
      response:
        body: '[{"from_currency_id":0,"to_currency_id":0,"id":2375636916,"type":"Deal","bot_id":16506279,"max_safety_orders":9,"deal_has_error":false,"account_id":33256512,"active_safety_orders_count":9,"created_at":"2025-09-22T13:15:22.646Z","updated_at":"2025-09-22T17:09:30.109Z","closed_at":null,"finished?":false,"current_active_safety_orders_count":0,"current_active_safety_orders":0,"completed_safety_orders_count":9,"completed_manual_safety_orders_count":0,"cancellable?":true,"panic_sellable?":true,"trailing_enabled":false,"tsl_enabled":false,"stop_loss_timeout_enabled":false,"stop_loss_timeout_in_seconds":0,"active_manual_safety_orders":0,"pair":"USDT_DOGE","status":"bought","localized_status":"Active","take_profit":"2.0","take_profit_steps":[],"base_order_volume":"25.0","safety_order_volume":"25.0","safety_order_step_percentage":"0.21","safety_order_calculation_mode":"base","leverage_type":"not_specified","leverage_custom_value":null,"bought_amount":"1045.0","bought_volume":"251.63136999","bought_average_price":"0.240795569368421052631578947368421053","base_order_average_price":"0.24288264","sold_amount":"0.0","sold_volume":"0.0","sold_average_price":"0","take_profit_type":"total","final_profit":"-3.10744269","martingale_coefficient":"1.0","martingale_volume_coefficient":"1.0","martingale_step_coefficient":"1.0","stop_loss_percentage":"5.0","sl_to_breakeven_enabled":false,"sl_to_breakeven_data":null,"error_message":null,"profit_currency":"quote_currency","stop_loss_type":"stop_loss","safety_order_volume_type":"quote_currency","base_order_volume_type":"quote_currency","from_currency":"USDT","to_currency":"DOGE","final_profit_percentage":"0","usd_final_profit":"-3.11","actual_profit":"-2.27227869","actual_usd_profit":"-2.27227869","failed_message":null,"reserved_base_coin":"251.63136999","reserved_second_coin":"1045.0","trailing_deviation":"0.2","trailing_max_price":null,"tsl_max_price":null,"strategy":"long","last_known_position_info":null,"min_profit_percentage":"0.0","min_profit_type":null,"close_strategy_list":[],"safety_strategy_list":[],"custom_safety_steps":[],"note":null,"add_fundable":true,"smart_trade_convertable":true,"bot_name":"Binance Spot account simulator USDT Long Bot","account_name":"Demo Account 2080398","market_type":"spot","current_price":"0.23886","take_profit_price":"0.24586","stop_loss_price":"0.230738508","actual_profit_percentage":"-0.8","reserved_quote_funds":"0.0","reserved_base_funds":"0.0","orderbook_price_currency":"USDT","crypto_widget":{"progressAccuracy":2,"TTPАctivated":false,"buyPrice":"0.240795569368421052631578947368421053","currentPrice":"0.23886","inverted":false,"stopLosses":[["0.230738508",false]],"LP":null,"buySteps":[],"marks":[{"type":"tp","label":"TP","price":"0.24586","position":"down"},{"type":"sl","label":"SL","price":"0.230738508","position":"down"}]}},{"from_currency_id":0,"to_currency_id":0,"id":2375612039,"type":"Deal","bot_id":16506279,"max_safety_orders":9,"deal_has_error":false,"account_id":33256512,"active_safety_orders_count":9,"created_at":"2025-09-22T10:02:26.136Z","updated_at":"2025-09-22T13:15:19.138Z","closed_at":"2025-09-22T13:15:19.130Z","finished?":true,"current_active_safety_orders_count":0,"current_active_safety_orders":0,"completed_safety_orders_co[...]
    - id: 1
      request:
        host: api.3commas.io
        url: https://api.3commas.io/public/api/ver1/deals/2375636916/market_orders
        method: GET
      response:
        body: '[{"order_id":"1570238520","order_type":"BUY","deal_order_type":"Safety","cancellable":false,"status_string":"Filled","created_at":"2025-09-22T13:15:23.590Z","updated_at":"2025-09-22T17:09:29.888Z","quantity":"105.0","quantity_remaining":"0.0","total":"25.04547045","rate":"0.23829","average_price":"0.23852829"},{"order_id":"1570238518","order_type":"BUY","deal_order_type":"Safety","cancellable":false,"status_string":"Filled","created_at":"2025-09-22T13:15:23.548Z","updated_at":"2025-09-22T15:34:50.972Z","quantity":"105.0","quantity_remaining":"0.0","total":"25.099074","rate":"0.2388","average_price":"0.2390388"},{"order_id":"1570238514","order_type":"BUY","deal_order_type":"Safety","cancellable":false,"status_string":"Filled","created_at":"2025-09-22T13:15:23.506Z","updated_at":"2025-09-2[...]
[...]
