---
version: 2
interactions:
    - id: 0
      request:
        host: api.3commas.io
        url: https://api.3commas.io/public/api/ver1/deals/2366275139/market_orders
        method: GET
      response:
        body: '[{"order_id":"1508343999","order_type":"BUY","deal_order_type":"Safety","cancellable":false,"status_string":"Filled","created_at":"2025-08-04T17:07:20.171Z","updated_at":"2025-08-04T17:23:28.690Z","quantity":"8.0","quantity_remaining":"0.0","total":"1.66790624","rate":"0.20828","average_price":"0.20848828"},{"order_id":"1508343992","order_type":"BUY","deal_order_type":"Safety","cancellable":false,"status_string":"Filled","created_at":"2025-08-04T17:07:20.102Z","updated_at":"2025-08-04T17:20:20.742Z","quantity":"8.0","quantity_remaining":"0.0","total":"1.67134968","rate":"0.20871","average_price":"0.20891871"},{"order_id":"1508343983","order_type":"SELL","deal_order_type":"Take Profit","cancellable":true,"status_string":"Active","created_at":"2025-08-04T17:07:19.963Z","updated_at":"202[...]
