---
version: 2
interactions:
    - id: 0
      request:
        host: api.3commas.io
        form:
            from:
                - "1754327234000"
        url: https://api.3commas.io/public/api/ver1/bots?from=1754327234000
        method: GET
      response:
        body: '{"error":"unknown_error","error_description":"Unknown error occurred#ActiveRecord::StatementInvalid"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 2.32870275s
    - id: 1
      request:
        host: api.3commas.io
        form:
            from:
                - "2025-08-04T17:07:14Z"
        url: https://api.3commas.io/public/api/ver1/bots?from=2025-08-04T17%3A07%3A14Z
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
        status: 200 OK
        code: 200
        duration: 1.738124666s
    - id: 2
      request:
        host: api.3commas.io
        form:
            from:
                - "2025-07-04T17:07:14Z"
        url: https://api.3commas.io/public/api/ver1/bots?from=2025-07-04T17%3A07%3A14Z
        method: GET
      response:
        body: '[{"id":16417643,"account_id":33256512,"is_enabled":true,"max_safety_orders":9,"active_safety_orders_count":9,"pairs":["USDT_DOGE"],"strategy_list":[{"options":{},"strategy":"nonstop"}],"close_strategy_list":[],"safety_strategy_list":[],"max_active_deals":1,"active_deals_count":1,"deletable?":false,"created_at":"2025-07-30T12:16:34.089Z","updated_at":"2025-08-04T17:07:13.367Z","trailing_enabled":false,"tsl_enabled":false,"deal_start_delay_seconds":null,"stop_loss_timeout_enabled":false,"stop_loss_timeout_in_seconds":0,"disable_after_deals_count":null,"deals_counter":null,"allowed_deals_on_same_pair":null,"easy_form_supported":false,"close_deals_timeout":null,"url_secret":"eedf583625","take_profit_steps":[],"name":"Replicate","take_profit":"2.0","min_profit_percentage":"0.0","base_order_volume":"2.0","safety_order_volume":"2.0","safety_order_step_percentage":"0.21","safety_order_calculation_mode":"base","take_profit_type":"total","min_profit_type":null,"type":"Bot::SingleBot","martingale_volume_coefficient":"1.0","martingale_step_coefficient":"1.0","stop_loss_percentage":"5.0","cooldown":"0","btc_price_limit":"0.0","strategy":"long","min_volume_btc_24h":"0.0","profit_currency":"quote_currency","min_price":null,"max_price":null,"stop_loss_type":"stop_loss","safety_order_volume_type":"quote_currency","base_order_volume_type":"quote_currency","account_name":"Demo Account 2080398","trailing_deviation":"0.2","finished_deals_profit_usd":"-2.66627394","finished_deals_count":"20","leverage_type":"not_specified","leverage_custom_value":null,"start_order_type":"market","active_deals_usd_profit":"-0.34547264","reinvesting_percentage":"0.0","risk_reduction_percentage":"100.0","reinvested_volume_usd":null,"min_price_percentage":null,"max_price_percentage":null},{"id":16416457,"account_id":33256512,"is_enabled":false,"max_safety_orders":3,"active_safety_orders_count":3,"pairs":["USDT_DOGE"],"strategy_list":[{"options":{},"strategy":"nonstop"}],"close_strategy_list":[],"safety_strategy_list":[],"max_active_deals":1,"active_deals_count":1,"deletable?":false,"created_at":"2025-07-29T17:14:38.489Z","updated_at":"2025-08-05T02:00:55.297Z","trailing_enabled":false,"tsl_enabled":false,"deal_start_delay_seconds":null,"stop_loss_timeout_enabled":false,"sto[...]
